body {
  font-family: 'Source Sans Pro', serif;
  font-size: 20px;
  color: #434343;
}
p {
  line-height: 1.5;
  margin: 30px 0;
}
p a {
  text-decoration: underline;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 800;
}
a {
  color: #434343;
}
a:hover,
a:focus {
  color: #3a81ba;
}
a img:hover,
a img:focus {
  cursor: zoom-in;
}
blockquote {
  color: #999999;
  font-style: italic;
}
hr.small {
  max-width: 100px;
  margin: 15px auto;
  border-width: 4px;
  border-color: white;
}
@media (min-width: 768px) {
  .navbar > .container .navbar-brand,
  .navbar > .container-fluid .navbar-brand {
    margin-left: 0;
  }
}
.navbar-custom {
  background: #2c313f;
  border-bottom: 0;
  margin: 0;
  width: 100%;
  z-index: 3;
  font-family: 'Source Sans Pro', sans-serif;
}
.navbar-custom .navbar-brand {
  padding: 0;
  margin: 15px 0 0 15px;
}
.navbar-custom .navbar-brand .logo {
  height: 80%;
  cursor: pointer;
}
.navbar-custom .navbar-toggle {
  padding: 26px;
  margin: 0;
  float: left;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-width: 0 1px;
  border-radius: 0;
}
.navbar-custom .navbar-toggle .icon-bar {
  background-color: white;
  border-radius: 0;
  width: 22px;
  height: 3px;
}
.navbar-custom .navbar-toggle .icon-bar + .icon-bar {
  margin-top: 5px;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background: transparent;
}
.navbar-custom .navbar-collapse {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.navbar-custom .nav .active a {
  color: white;
  background-color: transparent;
}
.navbar-custom .nav .active a:hover,
.navbar-custom .nav .active a:focus {
  color: white;
  background-color: transparent;
}
.navbar-custom .nav .active a:after {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}
.navbar-custom .nav li.to_kilix a:hover,
.navbar-custom .nav li.to_kilix a:focus {
  color: #3a81ba;
}
.navbar-custom .nav li.to_kilix a:hover:after,
.navbar-custom .nav li.to_kilix a:focus:after {
  opacity: 0;
}
.navbar-custom .nav li a {
  color: white;
  padding: 0;
  margin: 25px 20px;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 1.2px;
}
.navbar-custom .nav li a:after {
  position: absolute;
  height: 100%;
  width: 2px;
  left: -8px;
  top: 0;
  content: " ";
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  -webkit-transform: translateX(-0.3rem);
  -ms-transform: translateX(-0.3rem);
  transform: translateX(-0.3rem);
  opacity: 0;
}
.navbar-custom .nav li a.frontend:after {
  background: #009884;
}
.navbar-custom .nav li a.backend:after {
  background: #61aff0;
}
.navbar-custom .nav li a.agilité:after {
  background: #ff4a46;
}
.navbar-custom .nav li a.design:after {
  background: #f7c239;
}
.navbar-custom .nav li a.fun:after {
  background: #8b81d2;
}
.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus {
  color: white;
}
@media only screen and (min-width: 768px) {
  .navbar-custom {
    background: rgba(0, 0, 0, 0.4);
    border-bottom: 0;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    transition: background-color 0.3s;
  }
  .navbar-custom.is-top {
    background-color: #2c313f;
  }
  .navbar-custom .nav li a:after {
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -1px;
    left: 0;
    top: inherit;
    content: " ";
    -webkit-transition: 0.3s ease-out;
    transition: 0.3s ease-out;
    -webkit-transform: translateY(0.3rem);
    -ms-transform: translateY(0.3rem);
    transform: translateY(0.3rem);
    opacity: 0;
  }
  .navbar-custom .nav li a:hover,
  .navbar-custom .nav li a:focus {
    color: white;
  }
  .navbar-custom .nav li a:hover:after,
  .navbar-custom .nav li a:focus:after {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
.intro-header {
  background: no-repeat center center;
  background-color: #999999;
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  margin-bottom: 50px;
}
.intro-header .container {
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
}
.intro-header .site-heading,
.intro-header .post-heading,
.intro-header .page-heading {
  padding: 100px 0 50px;
  color: white;
}
@media only screen and (min-width: 768px) {
  .intro-header .site-heading,
  .intro-header .post-heading,
  .intro-header .page-heading {
    padding: 150px 0;
  }
}
.intro-header .site-heading,
.intro-header .page-heading {
  text-align: center;
}
.intro-header .site-heading h1,
.intro-header .page-heading h1 {
  margin-top: 0;
  font-size: 50px;
  text-shadow: 4px 4px 0 rgba(0, 0, 0, 0.2);
}
.intro-header .site-heading .subheading,
.intro-header .page-heading .subheading {
  font-size: 24px;
  line-height: 1.1,
			display: block;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  margin: 10px 0 0;
}
@media only screen and (min-width: 768px) {
  .intro-header .site-heading h1,
  .intro-header .page-heading h1 {
    font-size: 80px;
  }
}
.intro-header .post-heading h1 {
  font-size: 35px;
  text-shadow: 4px 4px 0 rgba(0, 0, 0, 0.2);
}
.intro-header .post-heading .subheading,
.intro-header .post-heading .meta {
  line-height: 1.1;
  display: block;
}
.intro-header .post-heading .subheading {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 24px;
  margin: 10px 0 30px;
  font-weight: 600;
}
.intro-header .post-heading .meta {
  font-family: 'Source Sans Pro', serif;
  font-style: italic;
  font-weight: 300;
  font-size: 20px;
}
.intro-header .post-heading .meta a {
  color: white;
}
@media only screen and (min-width: 768px) {
  .intro-header .post-heading h1 {
    font-size: 55px;
  }
  .intro-header .post-heading .subheading {
    font-size: 30px;
  }
}
.post-preview {
  padding-bottom: 20px;
  position: relative;
}
.post-preview img {
  margin: auto;
}
.post-preview > a {
  color: #434343;
}
.post-preview > a:hover,
.post-preview > a:focus {
  text-decoration: none;
  color: #3a81ba;
}
.post-preview > a > .post-title {
  font-size: 30px;
  margin-top: 60px;
  margin-bottom: 0;
}
.post-preview > a > .post-subtitle {
  margin: 0;
  font-weight: 300;
  margin-bottom: 10px;
}
.post-preview > .post-meta {
  color: #999999;
  font-size: 16px;
  font-style: italic;
  margin-top: 0;
}
.post-preview > .post-meta > a {
  text-decoration: none;
  color: #434343;
}
.post-preview > .post-meta > a:hover,
.post-preview > .post-meta > a:focus {
  color: #3a81ba;
  text-decoration: underline;
}
.post-preview .title-category {
  color: white;
  float: right;
  position: relative;
  padding: 7px 16px 7px 36px;
  text-transform: capitalize;
  position: absolute;
  top: -50px;
  right: 0;
}
.post-preview .title-category:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-top: 21px solid transparent;
  border-bottom: 21px solid transparent;
  border-left: 21px solid white;
}
.post-preview .title-category.frontend {
  background-color: #009884;
}
.post-preview .title-category.frontend:hover {
  background-color: #006558;
}
.post-preview .title-category.backend {
  background-color: #61aff0;
}
.post-preview .title-category.backend:hover {
  background-color: #3297ec;
}
.post-preview .title-category.agilité {
  background-color: #ff4a46;
}
.post-preview .title-category.agilité:hover {
  background-color: #ff1813;
}
.post-preview .title-category.design {
  background-color: #f7c239;
}
.post-preview .title-category.design:hover {
  background-color: #f3b20a;
}
.post-preview .title-category.fun {
  background-color: #8b81d2;
}
.post-preview .title-category.fun:hover {
  background-color: #685bc5;
}
.post-preview .to_post {
  display: block;
  float: right;
  color: #3a81ba;
  font-size: 16px;
}
.post-preview .to_post:hover {
  text-decoration: underline;
}
.post-preview p {
  margin: 20px 0;
}
.post-preview h1,
.post-preview h2,
.post-preview h3,
.post-preview h4,
.post-preview h5,
.post-preview h6 {
  font-weight: 600;
}
@media only screen and (min-width: 768px) {
  .post-preview > a > .post-title {
    max-width: 75%;
    margin-top: 30px;
    font-size: 36px;
    font-weight: 800;
  }
  .post-preview .title-category {
    top: 0;
  }
}
article img {
  margin: 15px auto;
}
article h1,
article h2,
article h3,
article h4,
article h5,
article h6 {
  font-weight: 600;
  margin-bottom: 0;
}
article p {
  margin: 20px 0;
}
.tags,
.category {
  color: #3a81ba;
  font-size: 16px;
  margin: 0;
}
.category a {
  text-transform: capitalize;
}
.a2a_kit {
  margin-top: 15px;
}
.author {
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 6px;
  margin-top: 20px;
  position: relative;
}
.author .author_img {
  max-height: 100px;
  margin: 0;
}
.author .author_infos {
  position: absolute;
  left: 112px;
}
.author .author_infos .author_job {
  font-size: 18px;
}
.section-heading {
  font-size: 36px;
  margin-top: 60px;
  font-weight: 700;
}
.caption {
  text-align: center;
  font-size: 14px;
  padding: 10px;
  font-style: italic;
  margin: 0;
  display: block;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
footer {
  background: #202529;
  color: #e7e7e7;
  font-weight: 400;
  font-size: 17px;
  margin-top: 20px;
  padding: 50px 0 65px;
}
footer a {
  color: #e7e7e7;
  text-decoration: none;
}
footer a:hover {
  text-decoration: none;
}
footer .gray-text {
  color: rgba(199, 199, 199, 0.67);
}
footer strong {
  font-weight: 400;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.25);
}
footer .list-inline {
  margin: 0;
  padding: 0;
}
footer .copyright {
  color: rgba(199, 199, 199, 0.67);
  margin: 10px 0 20px 0;
}
footer .block-align {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 768px) {
  footer .block-align {
    margin-top: 15px;
  }
}
footer .block-align.contact-us > div {
  min-width: 190px;
}
footer .link_extia {
  vertical-align: super;
  padding-left: 2px;
  cursor: pointer;
}
footer .link_extia .logo_extia {
  width: 50px;
  display: inherit;
  cursor: pointer;
}
footer .fa-stack {
  color: white;
}
footer .fa-stack .fa-inverse {
  color: #202529;
}
footer .fa-stack:hover {
  color: #3a81ba;
}
footer .fa-stack:hover .fa-inverse {
  color: white;
}
.floating-label-form-group {
  font-size: 14px;
  position: relative;
  margin-bottom: 0;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #eeeeee;
}
.floating-label-form-group input,
.floating-label-form-group textarea {
  z-index: 1;
  position: relative;
  padding-right: 0;
  padding-left: 0;
  border: none;
  border-radius: 0;
  font-size: 1.5em;
  background: none;
  box-shadow: none !important;
  resize: none;
}
.floating-label-form-group label {
  display: block;
  z-index: 0;
  position: relative;
  top: 2em;
  margin: 0;
  font-size: 0.85em;
  line-height: 1.764705882em;
  vertical-align: middle;
  vertical-align: baseline;
  opacity: 0;
  -webkit-transition: top 0.3s ease,opacity 0.3s ease;
  -moz-transition: top 0.3s ease,opacity 0.3s ease;
  -ms-transition: top 0.3s ease,opacity 0.3s ease;
  transition: top 0.3s ease,opacity 0.3s ease;
}
.floating-label-form-group::not(:first-child) {
  padding-left: 14px;
  border-left: 1px solid #eeeeee;
}
.floating-label-form-group-with-value label {
  top: 0;
  opacity: 1;
}
.floating-label-form-group-with-focus label {
  color: #3a81ba;
}
form .row:first-child .floating-label-form-group {
  border-top: 1px solid #eeeeee;
}
.btn {
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 1px;
  border-radius: 0;
  padding: 15px 25px;
}
.btn-lg {
  font-size: 16px;
  padding: 25px 35px;
}
.btn-default:hover,
.btn-default:focus {
  background-color: #3a81ba;
  border: 1px solid #3a81ba;
  color: white;
}
.pager {
  margin: 20px 0 0;
}
.pager li > a,
.pager li > span {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 1px;
  padding: 10px 5px;
  background-color: white;
  border: 0;
  border-radius: 0;
}
@media only screen and (min-width: 768px) {
  .pager li > a,
  .pager li > span {
    font-size: 14px;
    padding: 15px 25px;
  }
}
.pager li > a:hover,
.pager li > a:focus {
  color: #3a81ba;
  background-color: white;
}
.pager .disabled > a,
.pager .disabled > a:hover,
.pager .disabled > a:focus,
.pager .disabled > span {
  color: #999999;
  background-color: #434343;
  cursor: not-allowed;
}
.search-bar {
  padding: 18px 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.search-bar .search-container {
  position: relative;
}
.search-bar .search-container .search-input {
  width: 150px;
  font-size: 18px;
  border: 0;
  background-color: transparent;
  color: white;
  transition: width 0.4s cubic-bezier(0, 0.795, 0, 1);
}
.search-bar .search-container .search-input:focus {
  outline: inherit;
}
.search-bar .search-container .search-input.open {
  width: 150px;
}
.search-bar .search-container .search-button {
  background-color: transparent;
  border: 0;
  padding: 2px 7px;
}
.search-bar .search-container .search-button .fa {
  color: white;
}
.search-bar .search-container .search-button:hover,
.search-bar .search-container .search-button:focus {
  outline: inherit;
}
.search-bar .search-container .results-container {
  display: block;
  z-index: 1;
  background-color: #f8f8f8;
  color: #434343;
  width: 397px;
  max-width: 100%;
  position: absolute;
  left: 0;
  top: 50px;
  list-style: inherit;
  font-size: 15px;
  padding-left: 5px;
}
.search-bar .search-container .results-container li {
  padding: 4px 0;
}
.search-bar .search-container .results-container li a {
  color: #434343;
  text-transform: none;
  font-weight: 400;
  letter-spacing: 0;
  margin-left: 5px;
}
@media only screen and (min-width: 768px) {
  .search-bar {
    border-top: 0;
    border-bottom: 0;
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
  }
  .search-bar .search-container .search-input {
    width: 0;
  }
  .search-bar .search-container .results-container {
    max-width: none;
    display: none;
    top: 52px;
    left: -189px;
  }
}
::-moz-selection {
  color: white;
  text-shadow: none;
  background: #3a81ba;
}
::selection {
  color: white;
  text-shadow: none;
  background: #3a81ba;
}
img::selection {
  color: white;
  background: transparent;
}
img::-moz-selection {
  color: white;
  background: transparent;
}
body {
  webkit-tap-highlight-color: #3a81ba;
}
